* {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

body {
  margin: 0;
  background-color: rgba(50, 177, 196, 0.511);
}

button:hover {
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #000000;
  padding: 15px;
  border-radius: 32px;
  box-shadow: 15px 10px 0px 5px #00000333;
}

.a {
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  font-size: 1.5em;
  border: none;
  background-color: #332b33;
  box-shadow: 5px 5px 10px -3px #0c0c0c9d, -5px -5px 15px 3px #045f2a0f;
}

.a:hover {
  background-color: whitesmoke;
  color: #332b33;
}

.b {
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  font-size: 1.8em;
  border: none;
  background-color: #f8ab45;
}
.c {
  color: #000000;
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  font-size: 1.8em;
  border: none;
  background-color: #bdbdc4;
}

.col-2 {
  grid-column: span 2;
}

.display {
  grid-column: 1/ -1;
  padding: 16px;
  display: flex;
  margin: 10px 10px 10px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #000000;
  border-radius: 32px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  overflow-y: auto;
}

#valor-actual {
  font-size: 1.8em;
}

#valor-anterior {
  font-size: 2em;
}
